@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('./assets/fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Cocogoose-Regular';
  src: url('./assets/fonts/Cocogoose-Light-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose-Bold';
  src: url('./assets/fonts/Cocogoose-Semilight-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose-Black';
  src: url('./assets/fonts/Cocogoose-Regular.ttf');
}

.primary-color {
  color: #272a31;
}

.secondary-color {
  color: #ec5242;
}

.third-color {
  color: #d3d3d3;
}

.coco-font {
  font-family: 'Cocogoose-Regular', sans-serif;
}

.coco-font-bold {
  font-family: 'Cocogoose-Bold', sans-serif;
}

.coco-font-extraBold {
  font-family: 'Cocogoose-Black', sans-serif;
}

.lato-font {
  font-family: 'Lato-Regular', sans-serif;
}

.lato-font-bold {
  font-family: 'Lato-Bold', sans-serif;
}

.lato-font-extraBold {
  font-family: 'Lato-Black', sans-serif;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}
/*Mobile nav*/
#main-navigator {
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
}

#open-nav-btn {
  height: 40px;
  width: 40px;
  background: gray;
  position: absolute;
  display: block;
  top: 20px;
  left: 20px;
}

#close-nav-btn {
  height: 40px;
  width: 40px;
  background: gray;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  display: block;
}

#nav-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

#nav-menu.nav-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.closed {
  display: none !important;
}

/*Header*/
header {
  position: relative;
  box-sizing: border-box;
  padding: 60px 30px;
  background: url('./assets/instruments_bg.jpg'), #b6b6b6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: screen;
}

.header-content {
  border: 10px solid white;
  background: #e3e3e3;
  box-sizing: border-box;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  #open-nav-btn {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
  }
  
}