@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('./assets/fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('./assets/fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Cocogoose-Regular';
  src: url('./assets/fonts/Cocogoose-Light-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose-Bold';
  src: url('./assets/fonts/Cocogoose-Semilight-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose-Black';
  src: url('./assets/fonts/Cocogoose-Regular.ttf');
}
/*Buttons*/
.main-btn {
  width: 80%;
  max-width: 260px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #ec5242;
  font-size: 18px;
  transition: all 250ms ease-in-out;
}

.main-btn:hover {
  background-color: white;
  color: #ec5242;
}

.main-btn:active {
  border-width: 2px;
}

.secondary-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #e3e3e3;
  font-size: 14px;
  transition: all 250ms ease-in-out;
  border-radius: 2px;
  background: white;
}

.secondary-btn:hover {
  background-color: #282a34;
  color: white;
}

.secondary-btn:active {
  border-width: 2px;
}

/*Bg-Colors*/
.primary-background {
  background: #5e5e5e;
}

.secondary-background {
  background: #ec5242;
}

.third-background {
  background: #d3d3d3;
}

.fourth-background {
  background:  #282a34;
}

/*Text-colors*/
.primary-color {
  color: #5e5e5e;
}

.secondary-color {
  color: #ec5242;
}

.third-color {
  color: #d3d3d3;
}

.fourth-color {
  color: #282a34;
}

.white-color {
  color: white;
}

/*Fonts*/
.coco-font {
  font-family: 'Cocogoose-Regular', sans-serif;
}

.coco-font-bold {
  font-family: 'Cocogoose-Bold', sans-serif;
}

.coco-font-extraBold {
  font-family: 'Cocogoose-Black', sans-serif;
}

.lato-font {
  font-family: 'Lato-Regular', sans-serif;
}

.lato-font-italic {
  font-family: 'Lato-Italic', sans-serif;
}

.lato-font-bold {
  font-family: 'Lato-Bold', sans-serif;
}

.lato-font-extraBold {
  font-family: 'Lato-Black', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}
body {
  background-color: #f6f6f6;
  margin: 0;
}
/*Mobile nav*/
#main-navigator {
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
}

#open-nav-btn {
  height: 40px;
  width: 40px;
  background: gray;
  position: absolute;
  display: block;
  top: 20px;
  left: 20px;
}

#close-nav-btn {
  height: 40px;
  width: 40px;
  background: gray;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  display: block;
}

#nav-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

#nav-menu.nav-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.closed {
  display: none !important;
}

/*Header*/
header {
  position: relative;
  box-sizing: border-box;
  padding: 60px 30px;
  background: url('./assets/instruments_bg.jpg'), #b6b6b6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: screen;
}

.header-content {
  border: 10px solid white;
  background: #e3e3e3;
  box-sizing: border-box;
  padding: 20px;
}

h1 {
  color: #ec5242;
  background: url('./assets/h1_bg.jpg') no-repeat;
  background-position: center;
  background-clip: text;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}

/*Logistic Section*/
#logistic {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: url('./assets/logistic_bg.jpg'), #282a34;
  background-size: contain;
  background-blend-mode: multiply;
}

.title-deco {
  height: 2px;
  width: 50px;
}

h2.lato-font.white-color {
  margin-bottom: 14px;
}

#logistic-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: 20px;
}

.logistic-item {
  display: flex;
  background: #80808050;
  align-items: center;
  padding: 20px 6px;
}

.logistic-item-icon,
.logistic-item-label {
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
}

.logistic-item-content {
  flex: 2 0 0;
}

/*Artists*/
#artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.artist-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#artist-list {
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
  padding: 0 20px;
}

.card-image {
  display: flex;
  flex: 1 0 0;
  background: gray;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex: 3 0 0;
  gap: 6px;
}

.card-container > * {
  margin: 0;
}

.little-deco {
  height: 2px;
  width: 50px;
}

/*Partners*/
#partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}

#partners-list {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.partner-item {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  color: #5e5e5e;
  font-family: 'Lato-Bold';
}
@media screen and (min-width: 768px) {
  #open-nav-btn {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
  }
  
}